@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@400;600;700;800&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    font-family: Work Sans;
}
.nav-container{
    display: flex;
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;
    

}
.logo-container{
    display: flex;
    align-items: center;
    height: 90px;

    width: 30%;
    padding-left: 150px;
    

}
.logo-container img{
  
   
}
.nav-item-container{
    padding-right:150px ;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20%;

}
.nav-btn{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 0px 10px;
    
}
.nav-title{
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.nav-btn-img{
    padding-left: 10px;
}
.nav-item-text{
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal
}
#nav-title-g{
    color: #FF42A5;
}